<a href="https://colab.research.google.com/github/Oghalemichael/Data-Fire-works/blob/main/EPL_Football_Match_Prediction__Part_1_Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Welcome to EPL Football Match Prediction Notebook**

This project is divided into two parts - 'Web scrapping and data collectio' and 'actual prediction'.

We will start with the web scrapping part here. The url for scrapping will be 'https://fbref.com/en/comps/9/Premier-League-Stats'

Firt we import the required modules

In [ ]:
import requests
import time
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
#use requests to get data from the website and parse the data using BeautifulSoup
url = 'https://fbref.com/en/comps/9/Premier-League-Stats'
data = requests.get(url)
soup = BeautifulSoup(data.text)

In [ ]:
#use CSS selectors to access the required table with class = 'stats_table'
standings_table = soup.select('table.stats_table')[0]
standings_table

<table class="stats_table sortable min_width" data-cols-to-freeze=",2" id="results111601_overall"> <caption>League Table Table</caption> <colgroup><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/><col/></colgroup> <thead> <tr> <th aria-label="Rk" class=" poptip sort_default_asc center" data-stat="rank" data-tip="&lt;strong&gt;Squad finish in competition&lt;/strong&gt;&lt;br&gt;Finish within the league or competition.&lt;br&gt;For knockout competitions may show final round reached.&lt;br&gt;Colors and arrows represent promotion/relegation or qualifiation for continental cups.&lt;br&gt;Trophy indicates team won league whether by playoffs or by leading the table.&lt;br&gt;Star indicates topped table in league USING another means of naming champion." scope="col">Rk</th> <th aria-label="Squad" class=" poptip sort_default_asc center" data-stat="squad" scope="col">Squad</th> <th aria-label="MP" class=" poptip center" data-stat="games" data-tip="&lt;strong&gt;Matches Played&lt;/strong&gt;&lt;br&gt;Matches Played by the player or squad" scope="col">MP</th> <th aria-label="Wins" class=" poptip center" data-stat="wins" data-tip="Wins" scope="col">W</th> <th aria-label="Draws" class=" poptip center" data-stat="draws" data-tip="Draws" scope="col">D</th> <th aria-label="Losses" class=" poptip center" data-stat="losses" data-tip="Losses" scope="col">L</th> <th aria-label="GF" class=" poptip center" data-stat="goals_for" data-tip="Goals For" scope="col">GF</th> <th aria-label="Goals Against" class=" poptip center" data-stat="goals_against" data-tip="Goals Against" scope="col">GA</th> <th aria-label="Goal Difference" class=" poptip center" data-stat="goal_diff" data-tip="Goal Difference" scope="col">GD</th> <th aria-label="Pts" class=" poptip center" data-stat="points" data-tip="Most leagues are ordered by points.&lt;br&gt;Three for a win and one for a draw." scope="col">Pts</th> <th aria-label="xG" class=" poptip center" data-filter="1" data-name="xG" data-stat="xg_for" data-tip="&lt;strong&gt;Expected Goals&lt;/strong&gt;&lt;br&gt;xG totals include penalty kicks, but do not include penalty shootouts (unless otherwise noted).&lt;br&gt;Provided by StatsBomb.&lt;br&gt;An underline indicates there is a match that is missing data, but will be updated when available." scope="col">xG</th> <th aria-label="xGA" class=" poptip sort_default_asc center" data-stat="xg_against" data-tip="&lt;strong&gt;Expected Goals Allowed&lt;/strong&gt;&lt;br&gt;xG totals include penalty kicks, but do not include penalty shootouts (unless otherwise noted).&lt;br&gt;Provided by StatsBomb.&lt;br&gt;An underline indicates there is a match that is missing data, but will be updated when available." scope="col">xGA</th> <th aria-label="xG Difference" class=" poptip center" data-filter="1" data-name="xG Difference" data-stat="xg_diff" data-tip="&lt;strong&gt;Expected Goals Difference&lt;/strong&gt;&lt;br&gt;xG totals include penalty kicks, but do not include penalty shootouts (unless otherwise noted).&lt;br&gt;Provided by StatsBomb.&lt;br&gt;An underline indicates there is a match that is missing data, but will be updated when available." scope="col">xGD</th> <th aria-label="xGD/90" class=" poptip hide_non_quals center" data-stat="xg_diff_per90" data-tip="&lt;strong&gt;Expected Goals Difference per 90 Minutes&lt;/strong&gt;&lt;br&gt;xG totals include penalty kicks, but do not include penalty shootouts (unless otherwise noted).&lt;br&gt;Provided by StatsBomb.&lt;br&gt;An underline indicates there is a match that is missing data, but will be updated when available." scope="col">xGD/90</th> <th aria-label="Attendance" class=" poptip center" data-stat="attendance_per_g" data-tip="Attendance per game during this season, only for home matches" scope="col">Attendance</th> <th aria-label="Top Team Scorer" class=" poptip center" data-stat="top_team_scorers" data-tip="Only includes league matches for that season" scope="col">Top Team Scorer</th> <th aria-label="Goalkeeper" class=" poptip center" data-stat="top_keeper" data-tip="Goalkeeper with the most minutes in league play" scope="col">Goalkeeper</th> <th aria-label="Notes" class=" poptip center" data-stat="notes" scope="col">Notes</th> </tr> </thead> <tbody> <tr><th class="right " csk="1" data-stat="rank" scope="row">1</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.b8fd03ef.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/b8fd03ef/Manchester-City-Stats">Manchester City</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">29</td><td class="right " data-stat="draws">6</td><td class="right " data-stat="losses">3</td><td class="right " data-stat="goals_for">99</td><td class="right " data-stat="goals_against">26</td><td class="right " data-stat="goal_diff">+73</td><td class="right " data-stat="points">93</td><td class="right " data-stat="xg_for">89.0</td><td class="right " data-stat="xg_against">27.2</td><td class="right " data-stat="xg_diff">+61.9</td><td class="right " data-stat="xg_diff_per90">+1.63</td><td class="right " csk="52774" data-stat="attendance_per_g">52,774</td><td class="right " csk="15" data-stat="top_team_scorers"><a href="/en/players/e46012d4/Kevin-De-Bruyne">Kevin De Bruyne</a> - <span>15</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/3bb7b8b4/Ederson">Ederson</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="2" data-stat="rank" scope="row">2</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.822bd0ba.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/822bd0ba/Liverpool-Stats">Liverpool</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">28</td><td class="right " data-stat="draws">8</td><td class="right " data-stat="losses">2</td><td class="right " data-stat="goals_for">94</td><td class="right " data-stat="goals_against">26</td><td class="right " data-stat="goal_diff">+68</td><td class="right " data-stat="points">92</td><td class="right " data-stat="xg_for">89.2</td><td class="right " data-stat="xg_against">34.2</td><td class="right " data-stat="xg_diff">+55.0</td><td class="right " data-stat="xg_diff_per90">+1.45</td><td class="right " csk="53352" data-stat="attendance_per_g">53,352</td><td class="right " csk="23" data-stat="top_team_scorers"><a href="/en/players/e342ad68/Mohamed-Salah">Mohamed Salah</a> - <span>23</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/7a2e46a8/Alisson">Alisson</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="3" data-stat="rank" scope="row">3</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.cff3d9bb.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/cff3d9bb/Chelsea-Stats">Chelsea</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">21</td><td class="right " data-stat="draws">11</td><td class="right " data-stat="losses">6</td><td class="right " data-stat="goals_for">76</td><td class="right " data-stat="goals_against">33</td><td class="right " data-stat="goal_diff">+43</td><td class="right " data-stat="points">74</td><td class="right " data-stat="xg_for">67.2</td><td class="right " data-stat="xg_against">36.0</td><td class="right " data-stat="xg_diff">+31.3</td><td class="right " data-stat="xg_diff_per90">+0.82</td><td class="right " csk="36443" data-stat="attendance_per_g">36,443</td><td class="right " csk="11" data-stat="top_team_scorers"><a href="/en/players/9674002f/Mason-Mount">Mason Mount</a> - <span>11</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/33887998/Edouard-Mendy">Edouard Mendy</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="4" data-stat="rank" scope="row">4</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.361ca564.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/361ca564/Tottenham-Hotspur-Stats">Tottenham</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">22</td><td class="right " data-stat="draws">5</td><td class="right " data-stat="losses">11</td><td class="right " data-stat="goals_for">69</td><td class="right " data-stat="goals_against">40</td><td class="right " data-stat="goal_diff">+29</td><td class="right " data-stat="points">71</td><td class="right " data-stat="xg_for">65.1</td><td class="right " data-stat="xg_against">39.4</td><td class="right " data-stat="xg_diff">+25.8</td><td class="right " data-stat="xg_diff_per90">+0.68</td><td class="right " csk="56523" data-stat="attendance_per_g">56,523</td><td class="right " csk="23" data-stat="top_team_scorers"><a href="/en/players/92e7e919/Son-Heung-min">Son Heung-min</a> - <span>23</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/8f62b6ee/Hugo-Lloris">Hugo Lloris</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="5" data-stat="rank" scope="row">5</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.18bb7c10.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/18bb7c10/Arsenal-Stats">Arsenal</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">22</td><td class="right " data-stat="draws">3</td><td class="right " data-stat="losses">13</td><td class="right " data-stat="goals_for">61</td><td class="right " data-stat="goals_against">48</td><td class="right " data-stat="goal_diff">+13</td><td class="right " data-stat="points">69</td><td class="right " data-stat="xg_for">59.9</td><td class="right " data-stat="xg_against">47.1</td><td class="right " data-stat="xg_diff">+12.8</td><td class="right " data-stat="xg_diff_per90">+0.34</td><td class="right " csk="59665" data-stat="attendance_per_g">59,665</td><td class="right " csk="11" data-stat="top_team_scorers"><a href="/en/players/bc7dc64d/Bukayo-Saka">Bukayo Saka</a> - <span>11</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/466fb2c5/Aaron-Ramsdale">Aaron Ramsdale</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="6" data-stat="rank" scope="row">6</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.19538871.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/19538871/Manchester-United-Stats">Manchester Utd</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">16</td><td class="right " data-stat="draws">10</td><td class="right " data-stat="losses">12</td><td class="right " data-stat="goals_for">57</td><td class="right " data-stat="goals_against">57</td><td class="right iz" data-stat="goal_diff">0</td><td class="right " data-stat="points">58</td><td class="right " data-stat="xg_for">54.8</td><td class="right " data-stat="xg_against">54.5</td><td class="right " data-stat="xg_diff">+0.3</td><td class="right " data-stat="xg_diff_per90">+0.01</td><td class="right " csk="73150" data-stat="attendance_per_g">73,150</td><td class="right " csk="18" data-stat="top_team_scorers"><a href="/en/players/dea698d9/Cristiano-Ronaldo">Cristiano Ronaldo</a> - <span>18</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/7ba6d84e/David-de-Gea">David de Gea</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="7" data-stat="rank" scope="row">7</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.7c21e445.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/7c21e445/West-Ham-United-Stats">West Ham</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">16</td><td class="right " data-stat="draws">8</td><td class="right " data-stat="losses">14</td><td class="right " data-stat="goals_for">60</td><td class="right " data-stat="goals_against">51</td><td class="right " data-stat="goal_diff">+9</td><td class="right " data-stat="points">56</td><td class="right " data-stat="xg_for">49.9</td><td class="right " data-stat="xg_against">51.0</td><td class="right " data-stat="xg_diff">-1.1</td><td class="right " data-stat="xg_diff_per90">-0.03</td><td class="right " csk="58370" data-stat="attendance_per_g">58,370</td><td class="right " csk="12" data-stat="top_team_scorers"><a href="/en/players/79c84d1c/Jarrod-Bowen">Jarrod Bowen</a> - <span>12</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/9328b835/Lukasz-Fabianski">Łukasz Fabiański</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="8" data-stat="rank" scope="row">8</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.a2d435b3.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/a2d435b3/Leicester-City-Stats">Leicester City</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">14</td><td class="right " data-stat="draws">10</td><td class="right " data-stat="losses">14</td><td class="right " data-stat="goals_for">62</td><td class="right " data-stat="goals_against">59</td><td class="right " data-stat="goal_diff">+3</td><td class="right " data-stat="points">52</td><td class="right " data-stat="xg_for">50.8</td><td class="right " data-stat="xg_against">61.0</td><td class="right " data-stat="xg_diff">-10.1</td><td class="right " data-stat="xg_diff_per90">-0.27</td><td class="right " csk="32493" data-stat="attendance_per_g">32,493</td><td class="right " csk="15" data-stat="top_team_scorers"><a href="/en/players/45963054/Jamie-Vardy">Jamie Vardy</a> - <span>15</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/53af52f3/Kasper-Schmeichel">Kasper Schmeichel</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="9" data-stat="rank" scope="row">9</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.d07537b9.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats">Brighton</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">12</td><td class="right " data-stat="draws">15</td><td class="right " data-stat="losses">11</td><td class="right " data-stat="goals_for">42</td><td class="right " data-stat="goals_against">44</td><td class="right " data-stat="goal_diff">-2</td><td class="right " data-stat="points">51</td><td class="right " data-stat="xg_for">46.0</td><td class="right " data-stat="xg_against">45.6</td><td class="right " data-stat="xg_diff">+0.4</td><td class="right " data-stat="xg_diff_per90">+0.01</td><td class="right " csk="30966" data-stat="attendance_per_g">30,966</td><td class="right " csk="8" data-stat="top_team_scorers"><a href="/en/players/38ceb24a/Leandro-Trossard">Leandro Trossard</a>, <a href="/en/players/4bcf39f6/Neal-Maupay">Neal Maupay</a> - <span>8</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/6a713852/Robert-Sanchez">Robert Sánchez</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="10" data-stat="rank" scope="row">10</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.8cec06e1.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats">Wolves</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">15</td><td class="right " data-stat="draws">6</td><td class="right " data-stat="losses">17</td><td class="right " data-stat="goals_for">38</td><td class="right " data-stat="goals_against">43</td><td class="right " data-stat="goal_diff">-5</td><td class="right " data-stat="points">51</td><td class="right " data-stat="xg_for">35.9</td><td class="right " data-stat="xg_against">60.3</td><td class="right " data-stat="xg_diff">-24.4</td><td class="right " data-stat="xg_diff_per90">-0.64</td><td class="right " csk="30777" data-stat="attendance_per_g">30,777</td><td class="right " csk="6" data-stat="top_team_scorers"><a href="/en/players/b561db50/Raul-Jimenez">Raúl Jiménez</a> - <span>6</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/903b6e8b/Jose-Sa">José Sá</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="11" data-stat="rank" scope="row">11</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.b2b47a98.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/b2b47a98/Newcastle-United-Stats">Newcastle Utd</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">13</td><td class="right " data-stat="draws">10</td><td class="right " data-stat="losses">15</td><td class="right " data-stat="goals_for">44</td><td class="right " data-stat="goals_against">62</td><td class="right " data-stat="goal_diff">-18</td><td class="right " data-stat="points">49</td><td class="right " data-stat="xg_for">40.3</td><td class="right " data-stat="xg_against">55.4</td><td class="right " data-stat="xg_diff">-15.2</td><td class="right " data-stat="xg_diff_per90">-0.40</td><td class="right " csk="51487" data-stat="attendance_per_g">51,487</td><td class="right " csk="8" data-stat="top_team_scorers"><a href="/en/players/c596fcb0/Callum-Wilson">Callum Wilson</a> - <span>8</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/3a949a25/Martin-Dubravka">Martin Dúbravka</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="12" data-stat="rank" scope="row">12</th><td class="left " data-stat="squad"><img alt="Club Crest" height="13" itemscope="image" src="https://d2p3bygnnzw9w3.cloudfront.net/req/202205232/tlogo/fb/mini.47c64c55.png" style="vertical-align:text-top" width="13"/> <a href="/en/squads/47c64c55/Crystal-Palace-Stats">Crystal Palace</a></td><td class="right " data-stat="games">38</td><td class="right " data-stat="wins">11</td><td class="right " data-stat="draws">15</td><td class="right " data-stat="losses">12</td><td class="right " data-stat="goals_for">50</td><td class="right " data-stat="goals_against">46</td><td class="right " data-stat="goal_diff">+4</td><td class="right " data-stat="points">48</td><td class="right " data-stat="xg_for">46.4</td><td class="right " data-stat="xg_against">41.0</td><td class="right " data-stat="xg_diff">+5.4</td><td class="right " data-stat="xg_diff_per90">+0.14</td><td class="right " csk="24588" data-stat="attendance_per_g">24,588</td><td class="right " csk="14" data-stat="top_team_scorers"><a href="/en/players/b2bc3b1f/Wilfried-Zaha">Wilfried Zaha</a> - <span>14</span></td><td class="right " data-stat="top_keeper"><a href="/en/players/ab13a5aa/Vicente-Guaita">Vicente Guaita</a></td><td class="left iz" data-stat="notes"></td></tr> <tr><th class="right " csk="13" data-stat="rank" scope="row">13</th><td class="left " data-stat="squad"><img alt=

In [ ]:
# All the required links are 'a' tags. Find_all
links = standings_table.find_all('a')
links[0:9]

[<a href="/en/squads/b8fd03ef/Manchester-City-Stats">Manchester City</a>,
 <a href="/en/players/e46012d4/Kevin-De-Bruyne">Kevin De Bruyne</a>,
 <a href="/en/players/3bb7b8b4/Ederson">Ederson</a>,
 <a href="/en/squads/822bd0ba/Liverpool-Stats">Liverpool</a>,
 <a href="/en/players/e342ad68/Mohamed-Salah">Mohamed Salah</a>,
 <a href="/en/players/7a2e46a8/Alisson">Alisson</a>,
 <a href="/en/squads/cff3d9bb/Chelsea-Stats">Chelsea</a>,
 <a href="/en/players/9674002f/Mason-Mount">Mason Mount</a>,
 <a href="/en/players/33887998/Edouard-Mendy">Edouard Mendy</a>]

In [ ]:
#get href from the 'a' tags
links = [l.get('href') for l in links]
links[0:5]

['/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/players/e46012d4/Kevin-De-Bruyne',
 '/en/players/3bb7b8b4/Ederson',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/players/e342ad68/Mohamed-Salah']

In [ ]:
#narrow down to the links that has '/squad' with the help of list comprehension
links = [l for l in links if '/squads/' in l]
links[0:5]

['/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/squads/cff3d9bb/Chelsea-Stats',
 '/en/squads/361ca564/Tottenham-Hotspur-Stats',
 '/en/squads/18bb7c10/Arsenal-Stats']

In [ ]:
# make the urls complete by adding 'https://fbref.com' to all the links above
team_urls = [f'https://fbref.com{l}' for l in links][0]
team_urls

'https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats'

Extract Match Stats Using requests and pandas

Now, we need to access the link per team, starting with the first team - Manchester City. 
We will also read the result we get from the get request directly to a data frame using read_html

In [ ]:
data = requests.get(team_urls)

matches = pd.read_html(data.text, match = 'Scores & Fixtures')
matches[0].head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
0,2021-08-07,17:15,Community Shield,FA Community Shield,Sat,Neutral,L,0,1,Leicester City,NaN,NaN,57,NaN,Fernandinho,4-3-3,Paul Tierney,Match Report,NaN
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,1.9,1.3,64,58262.0,Fernandinho,4-3-3,Anthony Taylor,Match Report,NaN
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,2.7,0.1,67,51437.0,İlkay Gündoğan,4-3-3,Graham Scott,Match Report,NaN
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,3.8,0.1,80,52276.0,İlkay Gündoğan,4-3-3,Martin Atkinson,Match Report,NaN
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,2.9,0.8,61,32087.0,İlkay Gündoğan,4-3-3,Paul Tierney,Match Report,NaN

We still need to get more data using the shooting button.
![image.png]()

In [ ]:
links_ = BeautifulSoup(data.text).find_all('a')

shooting_link = [link.get('href') for link in links_]
shooting_link = [link for link in shooting_link if link and 'all_comps/shooting/' in link][0]
shooting_link

'/en/squads/b8fd03ef/2021-2022/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions'

Get shooting page

In [ ]:
# make url complete and send a get request
shooting_page = requests.get(f'https://fbref.com{shooting_link}')

# read response to data frame using read_html
shooting_data = pd.read_html(shooting_page.text, match='Shooting')

In [ ]:
shooting = shooting_data[0]
shooting.head()

  For Manchester City                                                     \
                 Date   Time              Comp                Round  Day
0          2021-08-07  17:15  Community Shield  FA Community Shield  Sat
1          2021-08-15  16:30    Premier League          Matchweek 1  Sun
2          2021-08-21  15:00    Premier League          Matchweek 2  Sat
3          2021-08-28  12:30    Premier League          Matchweek 3  Sat
4          2021-09-11  15:00    Premier League          Matchweek 4  Sat

                                         ... Standard               Expected  \
     Venue Result GF GA        Opponent  ...     Dist   FK PK PKatt       xG
0  Neutral      L  0  1  Leicester City  ...      NaN  NaN  0     0      NaN
1     Away      L  0  1       Tottenham  ...     16.9  1.0  0     0      1.9
2     Home      W  5  0    Norwich City  ...     17.3  1.0  0     0      2.7
3     Home      W  5  0         Arsenal  ...     14.3  0.0  0     0      3.8
4     Away      W  1  0  Leicester City  ...     14.0  0.0  0     0      2.9

                            Unnamed: 25_level_0
  npxG npxG/Sh G-xG np:G-xG        Match Report
0  NaN     NaN  NaN     NaN        Match Report
1  1.9    0.11 -1.9    -1.9        Match Report
2  2.7    0.17  1.3     1.3        Match Report
3  3.8    0.15  1.2     1.2        Match Report
4  2.9    0.12 -1.9    -1.9        Match Report

[5 rows x 26 columns]

Drop top index level.

You can see that the columns are in multi levels. we will now use the droplevel() function to drop the outer level.

In [ ]:
shooting.columns = shooting.columns.droplevel()
shooting.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Match Report
0,2021-08-07,17:15,Community Shield,FA Community Shield,Sat,Neutral,L,0,1,Leicester City,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,Match Report
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,16.9,1.0,0,0,1.9,1.9,0.11,-1.9,-1.9,Match Report
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,17.3,1.0,0,0,2.7,2.7,0.17,1.3,1.3,Match Report
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,14.3,0.0,0,0,3.8,3.8,0.15,1.2,1.2,Match Report
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,14.0,0.0,0,0,2.9,2.9,0.12,-1.9,-1.9,Match Report

Merge the shooting and the matches df into one df

In [ ]:
team_data = matches[0].merge(shooting[['Date', 'Sh', 'SoT', 'Dist', 'FK', 'PK', 'PKatt']], on='Date')
team_data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Formation,Referee,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt
0,2021-08-07,17:15,Community Shield,FA Community Shield,Sat,Neutral,L,0,1,Leicester City,...,4-3-3,Paul Tierney,Match Report,NaN,12,3,NaN,NaN,0,0
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,4-3-3,Anthony Taylor,Match Report,NaN,18,4,16.9,1.0,0,0
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,4-3-3,Graham Scott,Match Report,NaN,16,4,17.3,1.0,0,0
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,4-3-3,Martin Atkinson,Match Report,NaN,25,10,14.3,0.0,0,0
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,4-3-3,Paul Tierney,Match Report,NaN,25,8,14.0,0.0,0,0

In [ ]:
print(matches[0].shape)
print(shooting.shape)
print(team_data.shape)

(58, 19)
(59, 26)
(58, 25)

Extra rows will be dropped later in the project

It is now time to SCALE UP these codes through years 2020 to 2022 and through all the Premier League Teams. We are going to use a nested for-loop for this purpose.

In [ ]:
# create a list of years starting from most recent - 2022
years = list(range(2022,2020,-1))
years

[2022, 2021]

In [ ]:
#Initialize a list called all_mataches. This will contain all the required df
all_matches = []

In [ ]:
standing_url = 'https://fbref.com/en/comps/9/Premier-League-Stats'

In [ ]:
for year in years:
  data = requests.get(standing_url)
  soup = BeautifulSoup(data.text)
  standings_table = soup.select('table.stats_table')[0]

  links = standings_table.find_all('a')
  links = [l.get('href') for l in links]
  links = [l for l in links if '/squads/' in l]
  team_urls = [f'https://fbref.com{l}' for l in links]

  previous_season = soup.select('a.prev')[0].get('href')
  standing_url = f'https://fbref.com{previous_season}'

  for team_url in team_urls:
    team_name = team_url.split('/')[-1].replace('-Stats', '').replace('-',' ')

    data = requests.get(team_url)
    matches = pd.read_html(data.text, match='Scores & Fixtures')[0]

    links_ = BeautifulSoup(data.text).find_all('a')
    shooting_link = [link.get('href') for link in links_]
    shooting_link = [link for link in shooting_link if link and 'all_comps/shooting/' in link][0]
    shooting_page = requests.get(f'https://fbref.com{shooting_link}')
    shooting = pd.read_html(shooting_page.text, match='Shooting')[0]

    shooting.columns = shooting.columns.droplevel()

    try:
      team_data = matches.merge(shooting[['Date', 'Sh', 'SoT', 'Dist', 'FK', 'PK', 'PKatt']], on='Date')
    except KeyError:
      continue
    #except KeyError:
    #  continue

    team_data = team_data[team_data['Comp']=='Premier League']
    team_data['Season'] = year
    team_data['Team'] = team_name
    all_matches.append(team_data)
    time.sleep(1)

In [ ]:
type(all_matches)

list

In [ ]:
match_df = pd.concat(all_matches)

match_df.columns = [c.lower() for c in match_df.columns]

In [ ]:
match_df

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0,4,Tottenham,...,Match Report,NaN,8.0,1.0,17.4,0.0,0.0,0.0,2021,Sheffield United
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0,2,Crystal Palace,...,Match Report,NaN,7.0,0.0,11.4,1.0,0.0,0.0,2021,Sheffield United
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1,0,Everton,...,Match Report,NaN,10.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0,1,Newcastle Utd,...,Match Report,NaN,11.0,1.0,16.0,1.0,0.0,0.0,2021,Sheffield United
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1,0,Burnley,...,Match Report,NaN,12.0,3.0,17.0,0.0,0.0,0.0,2021,Sheffield United

In [ ]:
#save in a .csv file
match_df.to_csv('matches.csv')

Watch Out for Part 2. Where we will be working with the matches.csv file to create a model for prediction of football match results.